.CartContainer
{
    padding: 20px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 75px;
    width: 90%;
}
.CartTitle
{
    margin-bottom: 30px;

}
.CartTitleConditional{
    text-decoration: none;
    color: black;
}
.CartTitleConditional:hover{
    font-weight: bold;
}
.CartTitle0
{
    padding: 20px;
}
.form{
    width: 95%;
    margin: auto;
    min-height: 400px;
    max-height: 550px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 200px;
    height: 70%;
    max-height: 80vh;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}
.label{
    font-size: large;
    font-weight: 500;
}
.input{
    min-width: 150px;
    max-width: 300px;
}
.finBtn{
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.finBtn:hover{
    background-color:black;
    color: white;
    font-size: larger;
}
.submit{
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.submit:hover{
    background-color:black;
    color: white;
}
