.ItemDetailContainer{
    margin: auto;
    margin-top: 15px;
    width: 70%;
}
.Spinner{
    display: grid;
    place-items: center;
    border: 4px solid rgba(0, 1, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: green;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}