*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBar{

    background-color: #61DBFB;
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
}

.logo{
    width: 100px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;

}

.listItem{
    border: none;
    margin-left: 85px;
    margin-right: 20px;
    margin-top: 25px;
    width: 100px;
    color: black;
    background-color:#61DBFB ;
    font-size: large;
}
.listItem:hover{
    font-weight: bolder;
    text-decoration: underline;
}
.listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Option{
    text-decoration: none;
    border-radius: 5px;
    margin: 0;
    width: 80px;
    padding: 10px;
    background-color: none;
    color: black;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

.ActiveOption{
    text-decoration: none;
    border-radius: 5px;
    margin: 0;
    width: 80px;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}